{% if sticker|trim is not empty %}
<div class="animated-text {{ sticker_type }}" data-component="sticker">
  <div class="text-wrapper">
    {{ sticker|raw }}
  </div>
</div>
<div class="animated-text-2 {{ sticker_type }}" data-component="sticker">
  <div class="text-wrapper">
    {{ sticker|raw }}
  </div>
</div>
<div class="animated-text-3 {{ sticker_type }}" data-component="sticker">
  <div class="text-wrapper">
    {{ sticker|raw }}
  </div>
</div>
{% endif %}
