<li class="comment {{ depth > 0 ? 'is-reply' }}" id="comment-{{ comment.comment_ID }}">
  <article class="comment-body">
  <div class="comment-avatar">

   {{ function('get_avatar', comment.user_id, 48, '', '', { 'class': 'comment-avatar-img' }) }}
  </div>
    
    <div class="comment-content">
      <header class="comment-header">
        <h4 class="comment-author">{{ comment.comment_author }}</h4>
        <span class="comment-date">{{ comment.comment_date|date('d.m.Y H:i') }}</span>
      </header>
      
      <div class="comment-text">
        {{ comment.comment_content|wpautop }}
      </div>
      
      <footer class="comment-footer">
        <a href="?replytocom={{ comment.comment_ID }}#respond" class="comment-replyLink">
          {{ options.commentSettings.replyText }}
        </a>
      </footer>
    </div>
  </article>

  {% for child_comment in comments %}
    {% if child_comment.comment_parent == comment.comment_ID %}
      <ol class="comment-replies">
        {% include 'Components/CommentSection/comment.twig' with {
          comment: child_comment,
          comments: comments,
          depth: depth + 1,
          options: options
        } %}
      </ol>
    {% endif %}
  {% endfor %}
</li>